[Desktop Entry]
Name=Net test
Comment=Hace ping en 8.8.8.8 para ver si hay  conexión

Type=Service
Icon=internet-amarok
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=nettestping
X-KDE-PluginInfo-Version=11
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information

